

<div class="status-detail-container  w-100 "  >
  @if (statusData; as data) {
    <!-- Parent Status Snippet if exists (for replies) -->
    @if (data.statusResponse) {
      <app-status-card [statusData]="data.statusResponse"></app-status-card>
    }

   
    <!-- Replies Section -->
     @if(data.replies.length>0){

     
    <div class="replies-section">
      <h3>Replies</h3>
      @for (reply of data.replies; track reply) {
       <app-status-reply-card [reply]="reply" ></app-status-reply-card>
      }  
    </div>
  }
  }
</div>