.sidenav-container {
    height: 100vh;
    background-color: white;
}

.sidenav {
    width: 250px;
    background-color: rgb(6, 6, 7);
}

.content {
    box-sizing: border-box;

    height: 100vh;
    overflow: auto;
}

app-header {
    position: stiky;
    height: 64px;
}