<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  @if (data.FollowerMap && objectKeys(data.FollowerMap).length > 0) {
    @for (status of objectKeys(data.FollowerMap); track status) {
      @for (user of data.FollowerMap[status]; track user.userId) {
        <app-user-item
          [user]="user"
          [isLoading]="followSpinner"
          [isBeingFollowed]="toggleFollow !== null && toggleFollow !== undefined ? toggleFollow : status === 'YOU_FOLLOW'"

           [currentUserId]="currentUserId"
          (onFollow)="follow($event)"
          (onUnFollow)="unFollow($event)"
          >
        </app-user-item>
      }
    }
  } @else {
    <p>No users found.</p>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
